{{ define "main" }}
<div class="about_about" style="background:url({{partial "imgUrl" (dict "img" .Params.uber_uns.hintergrund "params" "c_scale,h_600" )}}) left center no-repeat; background-size:contain;">
  <div class="vtitle">{{.Params.uber_uns.titel_links_hochkant}}</div>
  <div class="ui container">
    {{ .Params.uber_uns.titel | safeHTML }}
    <div class="ui stackable two column grid">
      <div class="column">
        {{ .Params.uber_uns.content_links | safeHTML }}
      </div>
      <div class="column">
        {{ .Params.uber_uns.content_rechts | safeHTML }}
      </div>
    </div>
  </div>
</div>
<div class="about_data">
  <div class="vtitle">{{.Params.daten_und_fakten.titel_links_hochkant}}</div>
  <div class="ui container">
    <div class="ui stackable two column grid">
      {{ range .Params.daten_und_fakten.kennzahlen }}
      <div class="column knz">
        <div class="year">{{.zahl}}</div>
        <div class="label">{{ .beschriftung | safeHTML }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<div class="about_team">
  <div class="vtitle">{{.Params.team.titel_links_hochkant}}</div>
  <div class="ui container">
    {{ .Params.team.titel | safeHTML }}
    <div class="ui doubling four column grid">
      {{ range .Params.team.mitarbeiter }}
      <div class="column imgcol">
        <img src="{{partial "imgUrl" (dict "img" .bild "params" "c_scale,w_360" )}}" />
        <div class="label">{{.name}}</div>
        <div class="pos">{{.position}}</div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
<div class="about_vision" style="background:url({{partial "imgUrl" (dict "img" .Params.vision.hintergrund "params" "c_scale,h_600" )}}) left center no-repeat rgb(0,110,148); background-size:contain;">
  <div class="vtitle">{{.Params.vision.titel_links_hochkant}}</div>
  {{ .Params.vision.content | safeHTML }}
</div>
<div class="about_st">
  <h2>{{ .Params.offene_stellen.titel | safeHTML }}</h2>
  <div class="ui stackable three column grid">
    {{ range .Params.offene_stellen.stellen }}
    <div class="column os">
      <div class="oss">{{ .bezeichnung | safeHTML }}</div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}