@green:rgb(0,110,148);
@grey_dark:rgb(142,159,175);
@grey_light:rgb(233,237,240);
@grey:rgb(76,76,82);

body{
  font-family: "Arial Narrow",Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4{
  font-family: "Arial Narrow",Arial, Helvetica, sans-serif;
}
header{
  background:@grey_dark;
  padding:2rem;
}