body {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}
header {
  background: #8e9faf;
  padding: 2rem;
}
