body {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif !important;
  color: #4c4c52;
  background: white;
}
body *:not(i) {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif !important;
}
h1,
h2,
h3,
h4 {
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
}
.standard h1 {
  color: #006e94;
  text-transform: uppercase;
  margin: 2rem 0;
  font-weight: normal;
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .standard h1 {
    margin: 1rem 0;
  }
}
.standard h2 {
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.flexcontainer {
  display: flex;
  align-items: center;
  height: 100%;
}
#headermenu {
  display: block;
  height: 0;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  #headermenu {
    margin-top: 0.5rem;
  }
}
#headermenu.open {
  height: auto;
}
#headermenu .container {
  display: flex;
  justify-content: flex-end;
}
#headermenu a {
  color: white;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  line-height: 0.9rem;
  border-right: 1px solid white;
}
#headermenu a:last-child {
  border: none!important;
}
#headermenu a.active {
  color: #006e94;
}
footer {
  position: relative;
  padding: 4rem 0;
}
footer .footercont .logo {
  max-height: 20vh;
}
@media only screen and (max-width: 767px) {
  footer .footercont .logocolumn {
    text-align: center;
  }
}
footer .footermenu {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
footer .footermenu a {
  color: #4c4c52;
  font-size: 0.9rem;
  padding: 0 0.5rem;
  line-height: 0.9rem;
  border-right: 1px solid #4c4c52;
}
footer .footermenu a:last-child {
  border: none!important;
}
footer .cont1 {
  border-left: 1px solid #006e94;
}
@media only screen and (max-width: 767px) {
  footer .cont1 {
    border: none;
  }
}
footer h2 {
  color: #006e94;
  font-size: 1.2rem;
}
footer .column.kont h2 {
  color: #006e94;
  font-size: 1.2rem;
}
footer .column.kont img {
  max-width: 100%;
}
footer .column.kont p {
  line-height: 1.8em;
}
footer .column.kont a {
  color: #4c4c52;
}
header {
  background: #8e9faf;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  header {
    padding: 1rem 0 0.5rem 0;
  }
}
header .logo {
  max-width: 40%;
  max-height: 20vh;
}
@media only screen and (max-width: 767px) {
  header .logo {
    max-height: auto;
    max-width: 40vw;
  }
}
header > .ui.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .contacts {
  min-width: 200px;
}
@media only screen and (max-width: 767px) {
  header .contacts {
    width: 50%;
    min-width: 50%;
  }
}
header .contacts .item .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white!important;
  font-weight: normal!important;
}
header .contacts .item .content .header i {
  margin-left: 1rem;
}
header .contacts .ui.list .list > .item a.header:hover,
header .contacts .ui.list > .item a.header:hover {
  color: white!important;
}
.vtitle {
  transform: rotate(-90deg);
  min-width: 200px;
  margin-left: -50px;
  position: absolute;
  text-align: center;
  bottom: 50%;
  left: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 767px) {
  .vtitle {
    display: none;
  }
}
.home_topteaser {
  position: relative;
  min-height: 200px;
  padding: 10vh 0;
}
.home_topteaser .titles h2 {
  font-size: 8vh;
  font-weight: 200;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.home_topteaser .titles h3 {
  font-size: 8vh;
  line-height: 1.1em;
  margin: 0;
  padding: 0;
  color: #006e94;
  text-transform: uppercase;
}
.home_topteaser .titles h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
}
.home_strk {
  position: relative;
  min-height: 200px;
  color: white;
}
.home_strk .vtitle {
  color: white;
}
.home_strk h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 3em;
}
.home_strk .column {
  color: white;
}
.home_strk .column ul {
  padding-left: 1em;
  margin-top: 0;
}
.home_services {
  margin-top: 4rem;
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .home_services {
    margin-top: 0rem;
  }
}
.home_services .imgcol img {
  width: 100%;
}
.home_services h2 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.home_services h2 em {
  color: #4c4c52;
  font-style: normal;
}
.home_services ul {
  margin: 0;
  padding-left: 1em;
}
.home_ausf {
  margin-top: 2rem;
  position: relative;
  min-height: 200px;
}
.home_ausf h2 {
  line-height: 3em;
  background: #e9edf0;
  text-align: center;
  color: #006e94;
  text-transform: uppercase;
}
.home_ausf .imgcol {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.home_ausf .imgcol img {
  max-width: 80%;
}
.home_ausf .imgcol .label {
  color: #006e94;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}
.home_ausf .knz .label {
  color: #4c4c52;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
}
.home_ausf .knz .year {
  color: #006e94;
  font-size: 10rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 10rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .home_ausf .knz .year {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -0.025em;
  }
}
.home_about {
  margin-top: 4rem;
  background: #e9edf0;
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .home_about {
    margin-top: 0rem;
  }
}
.home_about .vtitle {
  margin-left: -65px;
}
.home_about .imgcol img {
  width: 100%;
  margin: -4rem 0 0 0;
}
.home_about h1 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.home_about h1 em {
  color: #4c4c52;
  font-style: normal;
}
.home_about h3 {
  font-weight: normal;
  color: #006e94;
  font-size: 1.8rem;
}
.home_about h4 {
  margin: 1rem 0;
}
.home_about strong {
  color: #006e94;
}
.home_about .expbox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -3rem;
}
.home_about .expbox .years {
  font-size: 8rem;
  color: #006e94;
  font-weight: bold;
  line-height: 0.8em;
  letter-spacing: -10px;
  margin-right: 20px;
}
.home_about .expbox .txt {
  font-size: 2rem;
  line-height: 1em;
}
.home_about .expbox .txt p {
  line-height: 1em;
}
.about_about {
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .about_about {
    padding: 1rem 0;
  }
}
.about_about .imgcol img {
  width: 100%;
}
.about_about h1 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .about_about h1 {
    margin: 1rem 0;
  }
}
.about_about h1 em {
  color: #4c4c52;
  font-style: normal;
}
.about_about ul {
  margin: 0;
  padding-left: 1em;
}
.about_about h4 {
  margin: 1rem 0;
}
.about_about strong {
  color: #006e94;
}
.about_about h3 {
  font-weight: normal;
  color: #006e94;
  font-size: 1.8rem;
}
.about_data {
  position: relative;
  padding: 2rem 0;
  margin-top: 2rem;
  background: #e9edf0;
}
.about_data .knz .label {
  color: #4c4c52;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
}
.about_data .knz .year {
  color: #006e94;
  font-size: 10rem;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 10rem;
  text-align: center;
  margin-top: -6rem;
}
@media only screen and (max-width: 767px) {
  .about_data .knz .year {
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 0rem;
  }
}
.about_team {
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .about_team {
    padding: 1rem 0;
  }
}
.about_team h2 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .about_team h2 {
    margin: 1rem 0;
  }
}
.about_team h2 em {
  color: #4c4c52;
  font-style: normal;
}
.about_team .label {
  color: #006e94;
  font-weight: bold;
  font-size: 1.3rem;
}
.about_team .pos {
  font-style: italic;
}
.about_team .imgcol img {
  width: 100%;
}
.about_vision {
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .about_vision {
    min-height: auto;
  }
}
.about_vision .vtitle {
  color: white;
}
.about_vision p {
  padding: 0 4rem;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .about_vision p {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}
.about_st {
  background: #e9edf0;
  position: relative;
  min-height: 200px;
  padding: 2rem 20vw;
}
@media only screen and (max-width: 767px) {
  .about_st {
    padding: 1rem;
  }
}
.about_st .os {
  text-align: center;
}
.about_st .oss {
  color: #006e94;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid #006e94;
  min-height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_st h2 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem 0;
}
.about_st h2 em {
  color: #4c4c52;
  font-style: normal;
}
.contact {
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .contact {
    padding: 1rem 0;
  }
}
.contact img {
  width: 100%;
}
.contact h1 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .contact h1 {
    margin: 1rem 0;
  }
}
.contact h1 em {
  color: #4c4c52;
  font-style: normal;
}
.contact ul {
  margin: 0;
  padding-left: 1em;
}
.contact h4 {
  margin: 1rem 0;
}
.contact strong {
  color: #006e94;
}
.contact h3 {
  font-weight: normal;
  color: #006e94;
  font-size: 1.8rem;
}
.references {
  position: relative;
  min-height: 200px;
  padding: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .references {
    padding: 1rem 0;
  }
}
.references img {
  width: 100%;
}
.references h1 {
  font-weight: normal;
  color: #006e94;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  margin: 2rem 0;
}
@media only screen and (max-width: 767px) {
  .references h1 {
    margin: 1rem 0;
  }
}
.references h1 em {
  color: #4c4c52;
  font-style: normal;
}
.references .filterlist {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}
.references .filterlist li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  background: #006e94;
  list-style: none;
  border: 1px solid #006e94;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 767px) {
  .references .filterlist li {
    padding: 0.25rem 0.5rem;
  }
}
.references .filterlist li.active {
  color: #006e94;
  background: white;
}
.references .reflist {
  margin: 0;
  padding: 0;
}
.references .reflist li:nth-child(odd) {
  background: #e9edf0;
}
.references .reflist li {
  padding: 2rem 0;
}
.references .reflist h3 {
  color: #006e94;
  margin: 0 0 2rem 0;
}
.references .reflist .imgcol img {
  width: 100%;
}
