@green:rgb(0,110,148);
@grey_dark:rgb(142,159,175); // header
@grey_light:rgb(233,237,240); // hintergrund
@grey:rgb(76,76,82); // schhrift

body{
  font-family: "Arial Narrow",Arial, Helvetica, sans-serif!important;
  color:@grey;
  *:not(i){
    font-family: "Arial Narrow",Arial, Helvetica, sans-serif!important;
  }
  background:white;
}
h1,h2,h3,h4{
  font-family: "Arial Narrow",Arial, Helvetica, sans-serif;
}
.flexcontainer{
  display:flex;
  align-items:center;
  height:100%;
}
footer{
  position:relative;
  padding:4rem 0;
  .logo{
    max-height:20vh;
  }
  .cont1{
    border-left:1px solid @green;
  }
  h2{
    color:@green;
      font-size:1.2rem;
  }
  .column.kont{
    h2{
      color:@green;
      font-size:1.2rem;
    }
    img{
      max-width:100%;
    }
    p{
      line-height:1.8em;
    }
    a{
      color:@grey;
    }
  }
}
header{
  background:@grey_dark;
  padding:2rem 0;
  .logo{
    max-width:40%;
    max-height:20vh;
  }
  > .ui.container{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  .contacts{
    min-width:200px;
    .item{
      .content{
        .header{
          display:flex;
          justify-content:space-between;
          align-items:center;
          color:white!important;
          font-weight:normal!important; 
          i{
            margin-left:1rem;
          }
        }
      }
    }
    .ui.list .list>.item a.header:hover, .ui.list>.item a.header:hover{
      color:white!important;
    }
  }
}
.vtitle{
  transform: rotate(-90deg);
  min-width:200px;
  margin-left:-50px;
  position:absolute;
  text-align:center;
  bottom:50%;
  left:0;
  text-transform:uppercase;
  font-size:1.5rem;
  letter-spacing: 0.2rem;
}
.home_topteaser{
  position:relative;
  min-height:200px;
  padding:10vh 0;
  .titles{
    h2{
      font-size:8vh;
      font-weight:200;
      line-height:1.1em;
      margin:0;
      padding:0;
      text-transform: uppercase;
    }
    h3{
      font-size:8vh;
      line-height:1.1em;
      margin:0;
      padding:0;
      color:@green;
      text-transform: uppercase;
    }
    h4{
      color:white;
      font-size:1.5rem;
      font-weight:normal;
    }
  }
}
.home_strk{
  position:relative;
  min-height:200px;
  color:white;
  .vtitle{
    color:white;
  }
  h2{
    color:white;
    text-align:center;
    text-transform:uppercase;
    line-height:3em;
  }
  .column{
    color:white;
    ul{
      padding-left:1em;
      margin-top:0;
    }
  }
}
.home_services{
  margin-top:4rem;
  position:relative;
  min-height:200px;
  padding:2rem 0;
  .imgcol{
    img{
      width:100%;
    }
  }
  h2{
    font-weight:normal;
    color:@green;
    text-transform:uppercase;
    font-size:2.2rem;
    em{
      color:@grey_dark;
      font-style: normal;
    }
  }
  ul{
    margin:0;
    padding-left:1em;
  }
}
.home_ausf{
  margin-top:2rem;
  position:relative;
  min-height:200px;
  h2{
    line-height:3em;
    background:@grey_light;
    text-align:center;
    color:@green;
    text-transform: uppercase;
  }
  .imgcol{
    position:relative;
    display:flex;
    justify-content:center;
    text-align:center;  
    img{
      max-width:80%;  
    }
    .label{
      color: @green;
      text-transform:uppercase;
      text-align:center;
      font-size:1.2rem;
    }
  }
  .knz{
    .label{
      color: @grey;
      text-transform:uppercase;
      text-align:center;
      font-size:1.6rem;
    }
    .year{
      color:@green;
      font-size:10rem;
      font-weight:bold;
      letter-spacing: -0.05em;
      line-height:10rem;
      text-align: center;
    }
  }
}
.home_about{
  margin-top:4rem;
  background:@grey_light;
  position:relative;
  min-height:200px;
  padding:2rem 0;
  .vtitle{
    margin-left:-65px;
  }
  .imgcol{
    img{
      width:100%;
      margin:-4rem 0 0 0;
    }
  }
  h1{
    font-weight:normal;
    color:@green;
    text-transform:uppercase;
    font-size:2.2rem;
    em{
      color:@grey_dark;
      font-style: normal;
    }
  }
  h3{
    font-weight:normal;
    color:@green;
    font-size:1.8rem;
  }
  h4{
    margin:1rem 0;
  }
  strong{
    color:@green;
  }
  .expbox{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-top:-3rem;
    .years{
      font-size:8rem;
      color:@green;
      font-weight:bold;
      line-height:0.8em;
      letter-spacing: -10px;
      margin-right:20px;
    }
    .txt{
      font-size: 2rem;
      p{
        line-height:1em;
      }
      line-height:1em;
    }
  }
}