{{ $t := .Site.GetPage "page" "global" "footer.md" }}
<footer>
  <div class="vtitle">{{$t.Params.titel_links_hochkant}}</div>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="four wide column">
        <a href="/">
          <img class="logo" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "" )}}" />
        </a>
      </div>
      <div class="twelve wide column cont1">
        <div class="flexcontainer">
          <div>
            {{ $t.Params.titel_footer | safeHTML }}
            <div class="ui stackable three column grid">
              <div class="column kont">
                {{ $t.Params.kontaktdaten_spalte_1 | safeHTML }}
              </div>
              <div class="column kont">
                {{ $t.Params.kontaktdaten_spalte_2 | safeHTML }}
              </div>
              <div class="column kont">
                {{ $t.Params.kontaktdaten_spalte_3 | safeHTML }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footermenu">
      {{ $currentPage := . }} {{ range .Site.Menus.footer }}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
</footer>