{{ $t := .Site.GetPage "page" "global" "header.md" }}
<header>
  <div class="ui container">
    <a href="/">
      <img class="logo" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "" )}}" />
    </a>
    <div class="contacts">
      <div class="ui list">
        {{ range $t.Params.kontaktdaten }}
        <div class="item">
          <div class="content">
            <a class="header">
              {{ .text }}
              <i class=" {{ .icon }} middle aligned icon"></i>
            </a>
          </div>
        </div>
        {{ end }}
        <div class="item">
          <div class="content">
            <a class="header">
              Menü
              <i class="bars middle aligned icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>